<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airticketmanager.mapper.AdminFlightMapper">

    <resultMap id="flightResultMap" type="com.example.airticketmanager.entity.Flight">
        <result column="departure_time" property="departureTime"/>
        <result column="arrival_time" property="arrivalTime"/>
        <result column="flight_number" property = "flightNumber"/>
        <result column="departure" property="departure"/>
        <result column="arrival" property="arrival"/>
        <result column="total_seats" property="totalSeats"/>
        <result column="available_seats" property="availableSeats"/>
    </resultMap>
    <select id="selectFlightsByPage" resultType="com.example.airticketmanager.entity.Flight" >
        SELECT * FROM flights LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countFlights" resultType="int">
        SELECT COUNT(*) FROM flights
    </select>

    <select id="userNeedFlight" resultMap="flightResultMap">
        SELECT * FROM flights
        <where>
            <if test="departure != null and departure != ''">
                departure = #{departure}
            </if>
            <if test="arrival != null and arrival != ''">
                AND arrival = #{arrival}
            </if>
            <if test="departureTime != null">
                AND DATE(departure_time) = DATE(#{departureTime})
            </if>
        </where>
    </select>

</mapper>