<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airticketmanager.mapper.AdminOrderMapper">

    <select id="selectOrdersByPage" resultType="com.example.airticketmanager.vo.OrderVo" >
        SELECT
        o.order_id,
        o.user_id ,    <!-- orders.user_id 别名 -->
        o.flight_id,
        o.order_status,
        o.seat_number,
        o.order_time,
        o.price,
        u.user_id,
        u.name,
        u.id_card,
        u.tel,
        f.flight_id,
        f.flight_number,
        f.departure_time,
        f.arrival_time
        FROM orders o
        LEFT JOIN user u
            ON o.user_id = u.user_id
        LEFT JOIN flights f
            ON o.flight_id = f.flight_id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="updateOrder">
        update orders
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="flightId != null and flightId != ''">
                flight_id = #{flightId},
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                order_status = #{orderStatus},
            </if>
            <if test="seatNumber != null and seatNumber != ''">
                seat_number = #{seatNumber},
            </if>
            <if test="price != null and price != ''">
                price = #{price}
            </if>
        </set>
        where order_id = #{orderId}
    </update>



</mapper>